{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css" media="all">
      p.flow-text {
          font-size: 16px;
          font-weight: bold;
      }
  </style>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
     
<div class="container">
    <h5><b>About</b></h5>
    <p class="flow-text">Madrassatul Noor was actually the main reason and source for the establishment of the East African 
        community at the St Matthews estate in Leicester. The community has now been serving the whole 
        area of the city. <br><br>The Madrasah, formed almost two decades ago, has passed a number of phases and 
        encountered numerous hurdles. Members of the East African community, who were dispersed to 
        Leicester in 1990s, discussed the importance of bringing together children and young people so that 
        they could obtain faith education. Sincere efforts were then made, and with the help of the Almighty 
        the Madrasah was formed in the second half of the 1990’s decade.
    </p>
    <br><br><br><br>
    
    <p class="flow-text">
        To know more about the development of this website, please <a class="modal-trigger" href="#about-modal">click here</a>.
        Alternatively, you can get in touch with the developer of this website <a href="https://distilled.me/anees" target="_blank">here</a>.
    </p>
      <!-- Modal Structure -->
      <div id="about-modal" class="modal">
        <div class="modal-content" style="font-size: 16px; font-weight: bold; color: black;">
          <h5><b>About this site</b></h5>
          <p style="line-height: 2em;">This website is a community-driven project that began in early 2016.
          If you would like to know more or get in touch with the developer of this website, please <a href="https://distilled.me/anees" target="_blank">click here.</a><br><br>
          This project was made possible with the help of open source frameworks like <a href="http://flask.pocoo.org/" target="_blank">Flask</a> and <a href="http://materializecss.com/" target="_blank">Materialize</a>.<br>
          The developer of this website and Madrassatul Noor do not own any of the images used in this website. The symbol images are <a href="http://www.freepik.com/" target="_blank">designed by Freepik</a>
          and the image of the mosque used in the home page was obtained <a href="http://www.markazislam.com/beautiful-mosques/" target="_blank">from here</a>.
          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><b>Close</b></a>
        </div>
      </div>  
    <!--
    var mapProp = {
        center:new google.maps.LatLng(52.6412901,-1.1304800),
        zoom:18,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    -->

</div>
{% endblock %}

<script type="text/javascript">

    $(document).ready( function() {
        $('.modal-trigger').leanModal();
    });
</script>

{% block footer %}
    {{ super() }}
{% endblock %}