<!DOCTYPE html>
<head>
{% block head %}
<title>Madrassatul Noor - {% block title %}{% endblock %}</title>
<meta name="google-site-verification" content="L5B9RrkZxt4Hr_qYfvJohW1sgFHFLwvhVBFYYJEeGd0" />
<meta name="msvalidate.01" content="66A81C00FBE6A8BB5260E602A9C216AC" />

<link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='Materialize/dist/css/materialize.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('bower.static', filename='Materialize/dist/js/materialize.min.js') }}"></script>

<style type="text/css" media="all">
    html {
        font-family : 'Josefin Slab';
    }
    
    ul#nav-mobile span {
        top: 15px;
        position:relative;
    }
    
    i.material-icons {
        font-size: 0.90em;
        padding-right: 8px;
    }
</style>

{% endblock %}

</head>

<body>

{% block header %}
<div class="navbar-fixed">
<nav class="blue-grey darken-3">
<div class="nav-wrapper" style="padding: 0 5%;">
  <a href="#" class="brand-logo" style="top: 10%">
    <img style="max-height: 45px; width: 12%; left: 4%; position: relative;" src="{{ url_for('static', filename='images/minaret.png') }}"/>
    Madrassatul Noor
  </a>
  <ul id="nav-mobile" class="right">
    <li><a href="{{url_for('main_app.index')}}"><span>Home</span></a></li>
    <li><a href="{{url_for('main_app.education')}}"><span>Education</span></a></li>
    <li><a href="{{url_for('main_app.burials')}}"><span>Burials</span></a></li>
    <li><a href="{{url_for('main_app.donate')}}"><span>Donate</span></a></li>
    <li><a href="{{url_for('main_app.about')}}"><span>About</span></a></li>
  </ul>
</div>
</nav>
</div>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer class="page-footer grey darken-4">
  <div class="container">
    <div itemscope itemtype="http://schema.org/Organization" class="row">
      <div class="col l7 s12">
        <!--<h5 class="white-text">Footer Content</h5>-->
        <p class="grey-text text-lighten-4">
            <span itemprop="name">Madrassatul Noor</span> is a registered charity based in Leicester, UK (Charity number: 1146906).
            <span itemprop="name" style="display: none;">Masjid An Noor</span>
        </p>
      </div>
      <div class="col l4 offset-l1 s12">
        <h5 class="white-text">Contact Us</h5>
        <ul>
          <li class="grey-text text-lighten-3">
                <i class="material-icons">location_on</i>
                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">170a Belgrave Gate</span>,<span itemprop="addressRegion">Leicester</span>, <span itemprop="postalCode">LE1 3XL</span>
                </span>    
            </li>
          <li class="grey-text text-lighten-3">
                <i class="material-icons">phone</i>
                <span itemprop="telephone">0116 251 9952</span>
          </li>
          <li class="grey-text text-lighten-3">
                <i class="material-icons" style="position: relative; top: 2px;">email</i>
                <a href="mailto:madrasatulnoor.01@gmail.com"><span itemprop="email">madrasatulnoor.01@gmail.com</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright
    <a class="modal-trigger grey-text text-lighten-4 right" href="#about-modal">About this site</a>
          <!-- Modal Structure -->
          <div id="about-modal" class="modal">
            <div class="modal-content" style="font-size: 16px; font-weight: bold; color: black;">
              <h5><b>About this site</b></h5>
              <p style="line-height: 2em;">This website is a community-driven project that began in early 2016.
              If you would like to know more or get in touch with the developer of this website, please <a href="http://smarturl.it/anees-m?IQid=noor" target="_blank">click here.</a><br><br>
              This project was made possible with the help of open source frameworks like <a href="http://flask.pocoo.org/" target="_blank">Flask</a> and <a href="http://materializecss.com/" target="_blank">Materialize</a>.<br>
              The developer of this website and Madrassatul Noor do not own any of the images used in this website. The symbol images are <a href="http://www.freepik.com/" target="_blank">designed by Freepik</a>
              and the image of the mosque used in the home page was obtained <a href="http://www.markazislam.com/beautiful-mosques/" target="_blank">from here</a>.
              </p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><b>Close</b></a>
            </div>
          </div>  
    </div>
  </div>
</footer>

{% endblock %}

<script type="text/javascript">

    $(document).ready( function() {
        $('.modal-trigger').leanModal();
    });
</script>
</body>

