{% extends "base.html" %}
{% block title %}Burials{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css" media="all">
      p.flow-text {
          font-size: 16px;
          font-weight: bold;
      }
  </style>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}


{% block content %}
     
<div class="container">
    <h5><b>Burials</b></h5>
    <p class="flow-text">The community of Madrassatul Noor Leicester has been working as a Funeral Arranger, with
        the collaboration and assistance of the Muslim Burial Council of Leicestershire (MBCOL). 
        This means that this community has been authorised to represent its members in the 
        preparation of the burial process, from when the death occurs until the burial takes place. 
        By law, individual families are not authorised to arrange funerals of their beloved ones when 
        they pass away. <br><br>
        The aim of the Burial fund is to support Muslims (individuals and families) who are residing in UK for their
        funeral and burial expenses when they will face the death of a loved one.
        Whenever a death occurs, the organisation’s Burial Committee need to be contacted as 
        soon as possible and they will InshaaAllah offer the support needed and they will contact 
        relevant authorities until the process is complete.
        <br><br>
        The membership to the Madrassatul Noor Burial Fund is open to every Muslim male or female resident 
        of UK with the age of 18 and above. 
        To be eligible for the full support of the funeral, every member should be active 
        by contributing the agreed amount of money every month on time without missing a payment.
        <br><br>
        Please contact the Organisation if you need more information regarding this service.
    </p>
    
</div>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}