{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css" media="all">
      p.flow-text {
          font-size: 16px;
          font-weight: bold;
      }
  </style>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
     
<div class="container">
    <h5><b>Donate</b></h5>
    <p class="flow-text">If you would like to make a donation, please use the following details or contact us if you need
    further assistance. JazakAllah Khayr!</p>
    <div class="row">
    <div id="donate-card" class="col s7">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Madrassatul Noor Leicester</span>
                    <p style="font-size: medium;">
                    <table style="line-height: 0em;">
                        <tr>
                            <td>Bank: </td><td>Lloyds TSB, Town Hall Square, Leicester</td>
                        </tr>
                        <tr>
                            <td>Account No: </td><td>45127768</td>
                        </tr>
                        <tr>
                            <td>Sort Code: </td><td>30-94-97</td>
                        </tr>
                        <tr>
                            <td>International Bank a/c: </td><td>LOYDGB21029 GB27LOYD30949745127768</td>
                        </tr>
                    </table>
                    </p>
            </div>
        </div>
    </div>
    </div>
    <p class="flow-text">
        If you have a PayPal account, then you can also donate by clicking on the link below
        <!-- PayPal Logo -->
        <table border="0" cellpadding="10" cellspacing="0" align="center">
            <tr>
                <td align="center"><a href="https://www.paypal.me/madrassatulnoor" title="Pay with PayPal" onclick="javascript:window.open('https://www.paypal.me/madrassatulnoor','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-150px.png" border="0" alt="PayPal Logo"></a></td>
            </tr>
        </table><!-- PayPal Logo -->
    </p>

</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}