{% extends "base.html" %}
{% block title %}Services{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css" media="all">
      p.flow-text {
          font-size: 16px;
          font-weight: bold;
      }

      ul#madrassah-list > li {
          list-style-type: circle;
          display: list-item;
          font-weight: bold;
      }
  </style>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}


{% block content %}
     
<div class="container">
    <h5><b>Madrassah</b></h5>
    <p class="flow-text">
    The Madrassah is based in the An Noor Mosque at Belgrave Gate, working hand in hand with the 
    An Noor community. <br>  
    Currently 130 students attend the Madrassah.
    </p>
    
    <ul id="madrassah-list" style="padding-left:25px;">
        <li>The students must be 4 years and older in order to enrol.</li>
        <li>The Madrassah runs from 17:00 – 19:00 Monday to Thursday.</li>
        <li>The students are required to dress up appropriately when attending.</li>
        <li>There are five classes, and boys and girls are taught separately.</li>
        <li>The subjects taught at the Madrassah are reciting and memorising the holy Quran, Fiq-h, Arabic, 
     Islamic manners based on the Quranic verses, Islamic Monotheism, Etiquettes, Islamic History 
     and the Prophet’s PBUH lifestyle.</li>
    </ul>

    <p class="flow-text">The main objective of the Madrassah has been to help the students develop their skills and the 
        understanding of the Deen, and at the same time encourage them to live their entire life according 
        to the teachings of the Prophet. In that way, it is expected that they will InshaaAllah be able to fit in 
        the wider community.<br><br>
        Madrassatul Noor has five female teachers and four males, and every single one works as a 
        volunteer. Almost every teacher is qualified. The Madrassah has enough First Aiders, and has 
        developed a number of policies, such as the Child Protection, the Anti-Bullying and the Health and 
        Safety policies.<br><br>
        To download the pupil admission form, please <a target="_blank" href="{{ url_for('static', filename='noor_admission_form.pdf') }}">click here</a>.
    </p>
</div>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}