{% extends "base.html" %}
{% block title %}Leicester{% endblock %}
{% block head %}
  {{ super() }}
<style type="text/css" media="all">

    .custom-symbol {
        width:30%; 
        margin-left:33%; 
        margin-top: 10%;
    }
    
</style>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}


{% block content %}

<div style="font-size:95%; text-align:center; font-weight:bold; line-height:0px;">
    <img style="width:30%;" src="{{ url_for('static', filename='images/bismillah_bw.jpg') }}"/>
    <p>In the name of God, the most gracious, the most merciful.</p>
</div>
<img style="width:100%" src="{{ url_for('static', filename='images/beautiful_mosque.jpg') }}"/>

<div class="row" style="text-align: center;">
      <div class="col s12">
        <span class="flow-text" style="font-family:'Cookie'; font-size: 40px;">Started in 1997, The An-Noor establishment is a...</span></div>
</div>

<div class="row container">
  <div id="masjid-card" class="card-panel col s3 offset-s1">
      <img class="custom-symbol" src="{{ url_for('static', filename='images/masjid.png') }}"/>
      <p style="left:39%; position: relative; font-weight: 700;">Masjid</p>
  </div>
  <div id="madrasah-card" class="card-panel col s3 offset-s1">
      <img class="custom-symbol" src="{{ url_for('static', filename='images/madrasah.png') }}"/>
      <p style="left:34%; position: relative; font-weight: 700;">Madrasah</p>
  </div>
  <div id="people-card" class="card-panel col s3 offset-s1">
      <img class="custom-symbol" src="{{ url_for('static', filename='images/community.png') }}"/>
      <p style="left:23%; position: relative; font-weight: 700;">Community Centre</p>      
  </div>
</div>

<div class="row blue-grey lighten-5">
    
  <div class="col s3 offset-s3" style="font-size: 23px; font-weight: bold; padding-top: 30px;">
        Download prayer timetable:
  </div>
  <div class="col s3">
    <a target="_blank" id="current-timetable">
      <img style="width: 28%; padding-top: 10%; padding-left: 4%;" src="{{ url_for('static', filename='images/calendar.png') }}"/>
      <p id="current-month" style="margin-left: 4%; font-weight: 700;">January 2016</p>
    </a>
  </div>
</div>

<script type="text/javascript">

    $(document).ready( function() {
        
        var date_object = new Date();
        
        // first we show the month in the placeholder
        var month_list = [ "January", "February", "March", "April", "May", "June", 
               "July", "August", "September", "October", "November", "December" ];

        $("#current-month").html(month_list[date_object.getMonth()] + " " + date_object.getUTCFullYear())

        var month = date_object.toDateString().split(' ')[1].toLowerCase();
        var year = date_object.toDateString().split(' ')[3];

        var current_timetable = "timetable_" + month + "_" + year + ".pdf";

        var current_file_path = "{{ url_for('static', filename='timetables/') }}" + current_timetable;

        // set filename for current month
        $("#current-timetable").attr( 
            "href", current_file_path
        );
    });
    
    $(".custom-symbol").hover(function() {
        $(this).parent().addClass("z-depth-2"); 
    });
    
    $(".custom-symbol").mouseout(function() {
        $(this).parent().removeClass("z-depth-2");
    });
    
     $("#masjid-card, #madrasah-card, #people-card").hover(function() {
        $(this).addClass("z-depth-2") 
    });
    
    $("#masjid-card, #madrasah-card, #people-card").mouseout(function() {
        $(this).removeClass("z-depth-2") 
    });
    
</script>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}